[submodule "site/themes/ananke"]
	path = site/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "site/themes/hello-friend"]
	path = site/themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
